<br />

<div class="row col-md-12">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row col-md-6">
					<h3>{{"LBL_DATA_ELEMENTS_GROUPS"|translate}}</h3>

					<!-----------------ELEMENTS GROUPS---------------------->

					<div class="radio" ng-repeat="element in elements">
						<label><input type="radio" name="lstObject"
							ng-click="getObjects(element.resource,element.name)">{{element.name}}</label>
					</div>
				</div>

				<br /> <br />
				<div class="row col-md-6">
					<textarea class="form form-control" placeholer="Message"
						style="width: 550px; height: 300px;">
                                      </textarea>

				</div>
				<br /> <br />
			</div>
		</div>
	</div>

	<!-------------------SHOW PERMISSIONS--------------------->
	<div class="row ">
		<div class="row ">
			<div class="col-md-4">
				<div class="input-group " ng-model="searchText">
					<input type="text" class="form-control"
						placeholder="Search input..." ng-model="searchText"> <span
						class="input-group-btn">
						<button class="btn btn-success" type="button">Search</button>
					</span>
				</div>
			</div>
			<div class="input-group col-md-4">
				<input type="text" class="form-control"
					placeholder="Search By Name..." ng-model="searchTextDate">
				<span class="input-group-btn">
					<button class="btn btn-success" type="button">Search</button>
				</span>
			</div>
			</ul>
		</div>

		<div class="panel panel-default">
			<!-- 	___________________scroll -->
			<!-- 			ng-style="{'overflow': (parentScrollable && 'scroll'), 'position': (parentRelative && 'relative')}" -->

			<!-- 			<nav class="navbar navbar-default "> -->
			<!-- 		__________________ -->
			<!-- 				<div class=" panel panel-scrollable" -->
			<!-- 							ng-style="{'overflow': (parentScrollable && 'scroll'), 'position': (parentRelative && 'relative')}"> -->

			<div class="row ">
				<div class="col-md-12 text-center">
					<h3>{{titleList}}</h3>
				</div>
			</div>
			<div class="panel panel-body" id="Layer1"
				style="width: 1153px; height: 260px; overflow: scroll">
				<div class="list-group ">
					<div class="row list-group-item">
<!-- 						<div class="col-md-6 align-center"></div> -->
						<div class="col-md-3 align-center">
							<label>{{"LABEL_USERGROUP"|translate}}</label>
						</div>
						<div class="col-md-3 align-center">
							<label>{{"LABEL_USERPERMISIONS"|translate}}</label>
						</div>
					</div>
					<div class="row list-group-item "
						ng-repeat="mObject in mObjects | filter:searchText ">
						<div class="col-md-6">{{mObject.displayName}}</div>
<!-- 						<div class="col-md-5">{{mObject.code}}</div> -->
						<div class="col-md-6">
							<div class="row"
								ng-repeat="access in mObject.userGroupAccesses | filter:searchTextDate ">
								
								<div class="col-md-6">
								<div class="col-md-3">{{access.displayName}}</div>
								<div class="col-md-3">
								
<!-- 								<button class="button button-primary"></button> -->
								</div>
								
								</div>
								
								<div class="col-md-6">{{(access.access=="r-------"?"LABEL_READ":"LABEL_READWRITE")|translate}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<pagination boundary-links="true" max-size="3"
				items-per-page="itemsPerPage" total-items="total"
				ng-model="currentPage" ng-change="pageChanged()"
				num-pages="pageCount" boundary-links="true"></pagination>
			<!-- 			</nav> -->
			</ul>
		</div>
		<br />

		<!---------------ASSIGN PERMISSIONS--------------->

		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<div class="input-group">
							<input id="filter_input" type="text" class="form-control"
								placeholder="Filter" ng-model="search.$"> <span
								class="input-group-btn">
								<button class="btn btn-success" type="button">Search</button>
							</span>
						</div>
						<br> <br />
						<div class="col-md-12">
							<div class="col-md-5">
								<label>{{"LABEL_ITEM"|translate}}</label> <select
									name="origen[]" id="origen" multiple="multiple"
									style="height: 200px; width: 100%;" size="12">
									<option ng-repeat="mObject in mObjects | filter: search.$">{{mObject.displayName}}</option>
								</select>
							</div>
							<div class="col-md-1">
								<br> <br> <br> <input type="button"
									class=" pass left" style="width: 50px" value="> "> <input
									type="button" class="remove " style="width: 50px" value="< ">
								<br /> <input type="button" class=" passall left"
									style="width: 50px" value=">>"> <input type="button"
									class=" removeAll" style="width: 50px" value="<<">
							</div>

							<div class="col-md-5">
								<label>{{"LABEL_SELECTEDITEMS"|translate}}</label>
								<div class="">
									<select name="destino[]" id="destino" multiple="multiple"
										style="height: 200px; width: 100%;" size="12"></select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>