<style>
body { margin: 30px; }
p { margin-top: 10px; }
dl { margin-top: 15px; }
.btn-group { margin-bottom: 15px; }
.checkbox-inline { font-weight: bold; margin-bottom: 10px; }

</style>
<br />
<div class="row col-md-12">
	<tabset> <tab active="tabsPersonal0.active"
		disable="tabsPersonal0.disabled" ng-show="RegisterMode!='Edit'">
	<tab-heading> {{tabsPersonal0.tittle}} </tab-heading>

	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{'TAB_USERS'| translate}}</h3>
			</div>
			<div class="panel-body">
				<div class="row col-md-6">
					<h3>{{"LBL_DATA_ELEMENTS_GROUPS"|translate}}</h3>

					<!-----------------ELEMENTS GROUPS---------------------->
					<div class="radio" ng-repeat="element in elements">
						<label><input type="radio" name="lstObject"
							ng-click="getObjects(element.resource,element.name)">{{element.name}}</label>
					</div>
				</div>
				<br /> <br />
				<div class="row col-md-6">
					<textarea class="form form-control" placeholer="Message"
						style="width: 550px; height: 300px;">
                                      </textarea>
				</div>
				<br /> <br />
			</div>
		</div>
	</div>

	<!-------------------SHOW PERMISSIONS--------------------->
	<div class="row ">
		<div class="row ">
			<div class="col-md-4">
				<div class="input-group " ng-model="searchText">
					<input type="text" class="form-control"
						placeholder="Search input..." ng-model="searchText"> <span
						class="input-group-btn">
						<button class="btn btn-success" type="button">{{'LABEL_SEARCH'
							| translate}}</button>
					</span>
				</div>
			</div>
			<div class="input-group col-md-4">
				<input type="text" class="form-control"
					placeholder="Search By Name..." ng-model="searchTextDate">
				<span class="input-group-btn">
					<button class="btn btn-success" type="button">{{'LABEL_SEARCH'
						| translate}}</button>
				</span>
			</div>

		</div>

		<div class="panel panel-default">
			<div class="row ">
				<div class="col-md-12 text-center">
					<h3>{{titleList}}</h3>
				</div>
			</div>
			<div class="panel panel-body" id="Layer1"
				style="width: 1153px; height: 260px; overflow: scroll">
				<div class="list-group ">
					<div class="row list-group-item">
						<div class="col-md-6 align-center"></div>
						<div class="col-md-3 align-center">
							<label>{{"LABEL_USERGROUP"|translate}}</label>
						</div>
						<div class="col-md-3 align-center">
							<label>{{"LABEL_USERPERMISIONS"|translate}}</label>
						</div>
					</div>
					<div class="row list-group-item "
						ng-repeat="mObject in mObjects | filter:searchText ">
						<div class="col-md-6">{{mObject.displayName}}</div>
						<div class="col-md-6">
							<div class="row"
								ng-repeat="access in mObject.userGroupAccesses | filter:searchTextDate ">
								<div class="col-md-6">
									<div class="col-md-4">{{access.displayName}}</div>
									<div class="col-md-2">
										<button class="button btn-default" data-toggle="modal"
											data-target="#miVentana">x</button>
										<br>
									</div>
								</div>
								<div class="col-md-6">{{(access.access=="r-------"?"LABEL_READ":"LABEL_READEDIT")|translate}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<uib-pagination boundary-links="true" max-size="2"
				num-pages="itemsPerPage" total-items="total" ng-model="currentPage"
				ng-change="pageChanged()" num-pages="pageCount"
				boundary-links="true"></uib-pagination>
		</div>
	</tab> <br />

	<!---------------ASSIGN PERMISSIONS---------------> <tab
		active="tabsPersonal1.active" disable="tabsPersonal1.disabled"
		select='validation(1)'> <tab-heading>
	{{tabsPersonal1.tittle}} </tab-heading>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{'TAB_ASIGNPERMISSIONS'| translate}}</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">
					<div class="input-group">
						<input id="filter_input" type="text" class="form-control"
							placeholder="Filter" ng-model="search.$"> <span
							class="input-group-btn">
							<button class="btn btn-success" type="button">{{'LABEL_SEARCH'
								| translate}}}</button>
						</span>
					</div>
					<br> <br />
					<div class="col-md-12">
						<div class="col-md-5">
							<label>{{"LABEL_ITEM"|translate}}</label> <select name="origen[]"
								id="origen" multiple="multiple"
								style="height: 200px; width: 100%;" size="12">
								<option ng-repeat="mObject in mObjects | filter: search.$">{{mObject.displayName}}</option>
							</select>
						</div>
						<div class="col-md-1">
							<br> <br> <br> <input type="button"
								class=" pass left" style="width: 50px" value="> "> <input
								type="button" class="remove " style="width: 50px" value="< ">
							<br /> <input type="button" class=" passall left"
								style="width: 50px" value=">>"> <input type="button"
								class=" removeAll" style="width: 50px" value="<<">
						</div>

						<div class="col-md-5">
							<label>{{"LABEL_SELECTEDITEMS"|translate}}</label>
							<div class="">
								<select name="destino[]" id="destino" multiple="multiple"
									style="height: 200px; width: 100%;" size="12"></select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</tab>


	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{'TAB_ASIGNPERMISSIONS'| translate}}</h3>
		</div>
		<div class="panel-body">
			<div class="col-md-12">
				<div class="radio" ng-repeat="uGroup in uGroups">
					<label><input type="radio" name="listUGroup">{{uGroup.displayName}}</label>
					<button class="btn btn-default" id="Read" type="submit">{{'LABEL_READ'
						| translate}}</button>
					<button class="btn btn-primary" id="Edit" type="submit">{{'LABEL_READEDIT'
						| translate}}</button>
					<br> <br> <br>

				</div>
				<button type="button" class="btn btn-info">{{'LABEL_ASIGN'
					| translate}}</button>
			</div>
		</div>
	</div>
	</tabset>
</div>

<div>
	<h1 class="page-header">Multiple elements</h1>
	<select selector multi="true" model="objectSelected"
		options="objectToSelected" value-attr="value"  >
	</select>
	<p>
		Current value:
		<code ng-bind="objectSelected|json"></code>
	</p>
</div>

<!-- 		___________________________modal____________________________-->

<div class="modal fade" id="miVentana" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">X</button>
				<h4>Eliminar Grupo de usuario</h4>
				<div class="modal-body text-center ">

					Desea eliminar este grupo de usuario ??? <br> <br>
					<button class="btn btn-primary">{{'LABEL_YES' |
						translate}}</button>
					<button class="btn btn-primary" class="btn btn-primary"
						data-dismiss="modal">{{'LABEL_NO' | translate}}</button>
				</div>
			</div>
		</div>
	</div>
</div>
