<br />
<div class="row col-md-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{'TAB_USERS'| translate}}</h3>
		</div>
		<div class="panel-body">
			<div class="row col-md-6">
				<h3>{{"LBL_DATA_ELEMENTS_GROUPS"|translate}}</h3>
				<!-----------------ELEMENTS GROUPS---------------------->
				<div class="radio" ng-repeat="element in elements">
					<label><input type="radio" name="lstObject"
						ng-click="getObjects(element)"
						onclick="buttonModal.disabled=false"> {{element.name}}</label>
				</div>
			</div>
			<br /> <br />
			<div class="row col-md-6">
				<textarea class="form form-control" placeholer="Message"
					style="width: 550px; height: 300px;">
                                      </textarea>
			</div>
			<br /> <br />
		</div>
	</div>
</div>
<!-- -----Button Asign permissions-- -->
<div class="row col-dm-12 text-center">
	<button type="button" class="btn btn-success" disabled="true"
		id="buttonModal" data-toggle="modal" data-target="#assignPermissions">
		{{'TAB_ASIGNPERMISSIONS'| translate}} <span
			class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
	</button>

</div>
<br>

<!-------------------OBJECTS--------------------->
<div class="row col-md-12">
	<div class="panel panel-default">
		<br>
		<div class="row ">
			<div class="col-md-4">
				<div class="input-group " ng-model="searchText">
					<input type="text" class="form-control"
						placeholder="Search input..." ng-model="searchText"> <span
						class="input-group-btn">
						<button class="btn btn-success" type="button">{{'LABEL_SEARCH'
							| translate}}</button>
					</span>
				</div>
			</div>
			<div class="input-group col-md-4">
				<input type="text" class="form-control"
					placeholder="Search By Name..." ng-model="searchTextDate">
				<span class="input-group-btn">
					<button class="btn btn-success" type="button">{{'LABEL_SEARCH'
						| translate}}</button>
				</span>
			</div>
		</div>
		<div class="panel panel-body" id="Layer1"
			style="width: 1125px; height: 260px; overflow: scroll">
			<br>

			<div class="row">
				<div class="col-md-12 text-center">
					<h3>{{titleList}}</h3>
				</div>
			</div>

			<div class="list-group ">
				<div class="row list-group-item">
					<div class="col-md-6 align-center"></div>
					<div class="col-md-3 align-center">
						<label>{{"LABEL_USERGROUP"|translate}}</label>
					</div>
					<div class="col-md-3 align-center">
						<label>{{"LABEL_USERPERMISIONS"|translate}}</label>
					</div>
				</div>
				<div class="row list-group-item "
					ng-repeat="mObject in mObjects | filter:searchText ">
					<div class="col-md-6">{{mObject.displayName}}</div>
					<div class="col-md-6">
						<div class="row"
							ng-repeat="access in mObject.userGroupAccesses | filter:searchTextDate ">
							<div class="col-md-6">
								<div class="col-md-4">{{access.displayName}}</div>
								<div class="col-md-2">
									<button class="button btn-default" data-toggle="modal"
										data-target="#modal">x</button>
									<br>
								</div>
							</div>
							<div class="col-md-6">{{(access.access=="r-------"?"LABEL_READ":"LABEL_READWRITE")|translate}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<uib-pagination boundary-links="true" max-size="2"
			num-pages="itemsPerPage" total-items="total" ng-model="currentPage"
			ng-change="pageChanged()" num-pages="pageCount" boundary-links="true"></uib-pagination>
	</div>
</div>
<br />

<!-- 		___________________________MODAL____________________________-->

<div class="modal fade" id="modal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">X</button>
				<h4>{{'LABEL_DELETEUSERGROUPS' | translate}}</h4>
				<div class="modal-body text-center ">

					{{'LABEL_WISHDELETEUSERGROUPS' | translate}} <br> <br>
					<button class="btn btn-primary">{{'LABEL_YES' |
						translate}}</button>
					<button class="btn btn-primary" class="btn btn-primary"
						data-dismiss="modal">{{'LABEL_NO' | translate}}</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- -----------------------------MODAL PERMISSIONS----------------------- -->

<div class="modal fade" id="assignPermissions" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">

				<!---------------ASSIGN PERMISSIONS--------------->
				<div class="row col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">{{'TAB_ASIGNELEMENTS'| translate}}</h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12">
									<div class="input-group">
										<input id="filter_input" type="text" class="form-control"
											placeholder="Filter" ng-model="search.$"> <span
											class="input-group-btn">
											<button class="btn btn-success" type="button">{{'LABEL_SEARCH'
												| translate}}</button>
										</span>
									</div>

									<!-- 					___________________ASSIGN ELEMENTS___________ -->
									<br> <select selector multi="true" model="objectSelected"
										options="objectToSelected" value-attr="value">
									</select>
									<!-- 																			<p> -->
									<!-- 																				Current value: -->
									<!-- 																				<code ng-bind="objectSelected|json"></code> -->
									<!-- 																			</p> -->

								</div>
							</div>
						</div>
					</div>

					<!-- ____________________ASIGN PERMISSIONS_______________________________________--->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">{{'TAB_ASIGNPERMISSIONS'|
								translate}}</h3>
						</div>

						<br>
						<div class="panel-body">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-12">

										<div class="row">
											<div class="col-md-6 text-center">
												<label >{{'LABEL_PERMISSIONS'| translate}}</label>
											</div>
											<div class="col-md-3 text-center">
												<label> {{'LABEL_PUBLICACCESS'|
													translate}}</label>
											</div>
											<div class="col-md-2 " >
												<label>{{'LABEL_EXTERNALACCESS'|translate}}</label>
											</div>
										</div>
										<div class="list-group">
											<div class="row list-group-item"
												ng-repeat="(kug,uGroup) in uGroups">
												<div class="col-md-4">
													<label aria-label="...">{{uGroup.displayName}}</label>
												</div>
												<div class="col-md-8">
													<div class="row">
														<div class="col-md-4">
															<div class="btn-group" role="group" aria-label="...">
																<button
																	ng-click="ugStatus[kug]=0; changeButtons(changeButton=0)"
																	type="button"
																	class="btn btn-{{ugStatus[kug]==0?'danger':'default'}} btn-lg"></button>
																<button
																	ng-click="ugStatus[kug]=1; changeButtons(changeButton=1)"
																	type="button"
																	class="btn btn-{{ugStatus[kug]==1?'warning':'default'}} btn-lg"></button>
																<button
																	ng-click="ugStatus[kug]=2; changeButtons(changeButton=2)"
																	type="button"
																	class="btn btn-{{ugStatus[kug]==2?'success':'default'}} btn-lg"></button>
															</div>
														</div>
														<div class="row">
															<div class=" col-md-3 btn-group" role="groupAccess"
																aria-label="...">
																<button ng-click="ugStatusAccess[kug]=0;changeButtons(changeButton=3)" type="button"
																	class="btn btn-{{ugStatusAccess[kug]==0?'danger':'default'}} btn-lg"></button>
																<button ng-click="ugStatusAccess[kug]=1;changeButtons(changeButton=4)" type="button"
																	class="btn btn-{{ugStatusAccess[kug]==1?'success':'default'}} btn-lg"></button>
															</div>

															<div class="row">
																<div class=" col-md-3 btn-group" role="groupAccessExternal"
																	aria-label="...">
																	<button ng-click="ugStatusAccessExternal[kug]=0;changeButtons(changeButton=5)"
																		type="button"
																		class="btn btn-{{ugStatusAccessExternal[kug]==0?'danger':'default'}} btn-lg"></button>
																	<button ng-click="ugStatusAccessExternal[kug]=1;changeButtons(changeButton=6)"
																		type="button"
																		class="btn btn-{{ugStatusAccessExternal[kug]==1?'success':'default'}} btn-lg"></button>
																</div>
															</div>

														</div>
													</div>
												</div>
											</div>
										</div>
										<br>
										<div class="col-md-4">
											<label>{{'LABEL_CONVENTION'| translate}}</label><br> <label
												class="label label-danger">{{'LABEL_NONE'|translate}}</label>
											<label class=" label label-warning">{{'LABEL_READ'|translate}}</label>
											<label class=" label label-success">{{'LABEL_READWRITE'|translate}}</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 text-center">
								<div class="input-group">
									<span class="input-group-btn">
										<button type="button" class="btn btn-primary"
											style="color: @gray-darker" data-dismiss="modal"
											ng-click="assignPermissions(objectSelected);clean()">{{'LABEL_ASIGN'
											| translate}}</button>
										<button type="button" class="btn btn-default"
											data-dismiss="modal" ng-click="clean()">{{'LABEL_CLOSE' | translate}}</button>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>